{% macro comment() %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/waline/3.3.2/waline.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="pagination">
    <div class="pagination__title">
        <span class="pagination__title-h">Comment Below</span>
        <hr />
    </div>
</div>
<div id="waline-comment"></div>
<script>
if (!window.initWaline) window.initWaline = () => {
        if (!document.getElementById('waline-comment')) return
        import('https://cdnjs.cloudflare.com/ajax/libs/waline/3.3.2/waline.min.js').then(({ init }) => init({
            el: '#waline-comment',
            serverURL: 'https://waline-comment.woodwhale.cn',
            lang: 'zh-CN',
            locale: {
                placeholder: '让我们说中文!',
                sofa: '暂无评论',
            },
            search: false,
            pageview: false,
            comment: false,
            reaction: false,
            emoji: [
                'https://unpkg.com/@waline/emojis@1.2.0/tieba',
            ],
            dark: 'auto',
        }))
    }
document.addEventListener('DOMContentLoaded', window.initWaline)
document.addEventListener('pjax:complete', window.initWaline)
</script>
{% endmacro %}