{% macro pjax() %}
<script>
document.addEventListener('DOMContentLoaded', () => {
    if (window.pjax) return
    window.pjax = new Pjax({
        elements: 'a[href]:not([href^="#"]):not([href="javascript:void(0)"]):not([pjax-fancybox]):not([onclick="return false;"]):not([onclick="return!1"]):not([target="_blank"]):not([target="view_window"]):not([href$=".xml"])',
        selectors: [
            "head title",
            "head meta[name=keywords]",
            "head meta[name=description]", 
            ".menu__inner",
            ".content",
        ],
        cacheBust: false,
        timeout: 6000,
    })
})
</script>
{% endmacro %}